.app {
    display: flex;
    margin: -8px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: center url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;
    form {
        background-color: white;
        padding: 0px 60px;
        border-radius: 10px;
        h1 {
            color: rgb(77, 1, 77);
            text-align: center;
        }
        button {
            margin: 10px 105px;
            border-radius: 5px;
            background-color: #f3e711;
        }
    }
}